@namespace OpeniT.SMTP.Web.Pages.Admin

<MatDialog IsOpen="@(IsOpen && isRendered)" IsOpenChanged="this.IsOpenIsChanged" CanBeClosed="!isBusy">
	<MatDialogTitle Class="justify-content-between border-bottom">
		<div class="d-flex align-items-center" style="min-width: 0;">
			<MatIconButton Class="close-button" Disabled="isBusy" Icon="close" OnClick="this.Close"></MatIconButton>
			<span class="text-title text-truncate @(isBusy ? "text-disabled" : string.Empty)" data-toggle="tooltip" data-placement="top" title="@mail?.Subject Details">@mail?.Subject Details</span>
		</div>
		<Dropdown FlipCornerHorizontally="true">
			<ButtonContent>
				<MatButton Disabled="isBusy" Class="text-nowrap">
					<span>Actions</span>
					<i class="fas fa-caret-down ml-2"></i>
				</MatButton>
			</ButtonContent>
			<MenuContent>
				<MatList Class="accent-dark">
					<NavLink href="@($"/smtp/mails/copy/{mail?.Guid}")">
						<MatListItem><MatIcon Icon="file_copy"></MatIcon><span class="ml-2">Copy</span></MatListItem>
					</NavLink>
					<NavLink href="@($"/smtp/mails/delete/{mail?.Guid}")">
						<MatListItem><MatIcon Icon="delete"></MatIcon><span class="ml-2">Delete</span></MatListItem>
					</NavLink>
				</MatList>
			</MenuContent>
		</Dropdown>
	</MatDialogTitle>
	<MatDialogContent>
		<div class="d-flex flex-wrap align-items-center text-break pb-3">
			<div class="d-flex flex-basis-100 pt-3 pb-3 border-bottom">
				<div class="flex-basis-100">
					<dl class="mb-0">
						<dt>From</dt>
						<dd class="position-relative mb-0" style="min-height: 1.5rem">
							@if (string.IsNullOrWhiteSpace(mail?.From?.Address))
							{
								<div class="dashed pl-4 pr-4"></div>
							}
							else
							{
								@mail.From.Address @(!string.IsNullOrWhiteSpace(mail?.From?.DisplayName) ? $"<{mail?.From?.DisplayName}>" : string.Empty)
							}
						</dd>
					</dl>
				</div>
			</div>
			<div class="d-flex flex-basis-100 pt-3 pb-3 border-bottom">
				<div class="flex-basis-100">
					<dl class="mb-0">
						<dt>To</dt>
						<dd class="position-relative mb-0" style="min-height: 1.5rem">
							@if (!Enumerable.Any(mail?.To ?? Enumerable.Empty<SmtpMailAddress>()))
							{
								<div class="dashed pl-4 pr-4"></div>
							}
							else
							{
								@string.Join(", ", mail.To.Select(to => to?.Address).OrderBy(a => a))
							}
						</dd>
					</dl>
				</div>
			</div>
			<div class="d-flex flex-basis-100 pt-3 pb-3 border-bottom">
				<div class="flex-basis-100">
					<dl class="mb-0">
						<dt>CC</dt>
						<dd class="position-relative mb-0" style="min-height: 1.5rem">
							@if (!Enumerable.Any(mail?.CC ?? Enumerable.Empty<SmtpMailAddress>()))
							{
								<div class="dashed pl-4 pr-4"></div>
							}
							else
							{
								@string.Join(", ", mail.CC.Select(cc => cc?.Address).OrderBy(a => a))
							}
						</dd>
					</dl>
				</div>
			</div>
			<div class="d-flex flex-basis-100 pt-3 pb-3 border-bottom">
				<div class="flex-basis-100">
					<dl class="mb-0">
						<dt>BCC</dt>
						<dd class="position-relative mb-0" style="min-height: 1.5rem">
							@if (!Enumerable.Any(mail?.BCC ?? Enumerable.Empty<SmtpMailAddress>()))
							{
								<div class="dashed pl-4 pr-4"></div>
							}
							else
							{
								@string.Join(", ", mail.BCC.Select(bcc => bcc?.Address).OrderBy(a => a))
							}
						</dd>
					</dl>
				</div>
			</div>
			<div class="d-flex flex-basis-100 pt-3 pb-3 border-bottom">
				<div class="flex-basis-100">
					<dl class="mb-0">
						<dt>Subject</dt>
						<dd class="position-relative mb-0" style="min-height: 1.5rem">
							@if (string.IsNullOrWhiteSpace(mail?.Subject))
							{
								<div class="dashed pl-4 pr-4"></div>
							}
							else
							{
								@mail.Subject
							}
						</dd>
					</dl>
				</div>
			</div>
			<div class="d-flex flex-basis-100 pt-3 pb-3 border-bottom">
				<div class="flex-basis-100">
					<dl class="mb-0">
						<dt>Body Format</dt>
						<dd class="position-relative mb-0" style="min-height: 1.5rem">
							@(mail?.IsBodyHtml == true ? "Html" : "Plain Text")
						</dd>
					</dl>
				</div>
			</div>
			<div class="d-flex flex-basis-100 pt-3 pb-3 border-bottom">
				<div class="flex-basis-100">
					<dl class="mb-0">
						<dt>Body</dt>
						<dd class="position-relative mb-0" style="min-height: 1.5rem">
							@if (string.IsNullOrWhiteSpace(mail?.Body))
							{
								<div class="dashed pl-4 pr-4"></div>
							}
							else
							{
								if (!string.IsNullOrWhiteSpace(mail?.Body))
								{
									if (mail?.IsBodyHtml == true)
									{
										<iframe class="border" style="min-width: 80rem; min-height: 900px; width: 100%;" srcdoc="@mail.Body"></iframe>
									}
									else
									{
										@mail.Body
									}
								}
							}
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</MatDialogContent>
	@if (isBusy)
	{
		<MatProgressBar Indeterminate="true" Class="animate-on-bottom"></MatProgressBar>
	}
</MatDialog>